<!-- <ion-header>
  <ion-toolbar color="grey">
    <ion-title color="primary">عروضي</ion-title>
    <ion-row>
      <ion-col size="1">
        <div class="header-icon">
          <ion-menu-button name="menu" color="primary"></ion-menu-button>
        </div>
      </ion-col>
      <ion-col size="10">
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col size="1">
        <div class="header-icon" routerLink="/notifications">
          <ion-icon name="notifications" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="myoffers">
  <ion-list class="item item-trns" lines="none">
    <ion-item-sliding color="none">
      <ion-item color="none">
        <ion-card color="light">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <img src="assets/img/Male-hands-on-computer.png" />
              </ion-col>
              <ion-col size="7">
                <ion-card-content>
                  <ion-card-title color="primary">
                    ماك بوك برو 15
                  </ion-card-title>
                  <ion-text color="primary">
                    سعر البيع <span>66000</span>
                  </ion-text>
                  <br>
                  <p>
                    هنا يتم كتابة وصف مختصر
                  </p>
                </ion-card-content>
              </ion-col>
              <ion-col size="1">
                <a class="popover-btn" (click)="settingsPopover()">
                  <ion-icon name="more"></ion-icon>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="unread(item)">
          <div class="text-center">
            <ion-icon name="trash"></ion-icon>
            <ion-label>حذف</ion-label>
          </div>
        </ion-item-option>
        <ion-item-option color="success" (click)="favorite(item)">
          <div class="text-center">
            <ion-icon name="create"></ion-icon>
            <ion-label>تعديل</ion-label>
          </div>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button expand="block" class="add-btn" routerLink="/add-offer">
    <ion-icon color="light" name="arrow-dropleft-circle"></ion-icon>
    <ion-label color="light" padding>
      إضافة عرض
    </ion-label>
  </ion-button>
</ion-content> -->