ion-button{
    color: #fff !important;
    text-align:right;
    height: 48px;
    width: 100%;
}
ion-icon{
    padding: 10px;
    font-size: 28px;
}
form{
    margin-bottom: 70px;
}
.text-d{
    font-weight: 600;
    font-size: large;
}
.text{
    color: #fff;
    margin-left: auto;
    color: #fff !important;
    font-size: 18px;
}
ion-item{
    margin-bottom: 8px;
}
#map {
    width: 100%;
    height: 35vh;
}