ion-select{
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    color: var(--ion-color-primary)
}
ion-card-title{
    font-size: 15px;

}
.myads ion-card img{
    width: 100%;
}
.myads ion-card{
    border-radius: 15px;
}
.myads ion-card ion-card-title{
    margin-bottom: 10px
}
.myads ion-card p{ 
    color: var(--ion-color-medium);
    margin-top: 10px
}
.myads ion-card .popover-btn{ 
    font-size: 20px
}
.myads .card-content-md{
    padding-top: 0;
}
.item.item-trns{
    background-color: rgba($color: #000000, $alpha: 0);
}
.myads ion-item-option{
    border-radius: 10px;
    margin: 0 2px;
    width: 80px;
    ion-label{
        font-size: 12px
    }
    ion-icon{
        font-size: 24px
    }
    .add-btn{
        margin-top: 20px;
        color: #fff;
    }
}