ion-button{
    background-color: #7d2468;
    color: #fff !important;
    text-align:right;
    height: 48px;
    width: 100%;
    margin-bottom: 80px;
}
ion-icon{
    padding: 10px;
    font-size: 28px;
    
}

.text{
    color: #fff;
    margin-left: auto;
    color: #fff !important;
    font-size: 18px;
}

ion-input{
    background: #fff;
    border: 1px solid #4444445e;
    margin: auto;
    border-radius: 15px;
    padding: 10px !important;
    margin-top: 28px;
    width: 310px;
    margin-bottom: 28px;
}
ion-label{
    padding: 45px;
    font-size: 20px;
    margin: auto;
}