<ion-header>
  <ion-toolbar color="grey">
    <ion-title color="primary"> تواصل معنا </ion-title>
    <ion-row>
      <ion-col size="1">
        <div class="header-icon">
          <!-- <ion-icon name="menu" color="primary"></ion-icon> -->
          <ion-menu-button name="menu" color="primary"></ion-menu-button>

        </div>
      </ion-col>
      <ion-col size="10">
        <ion-searchbar placeholder="البحث" [value]="deviceID"></ion-searchbar>
      </ion-col>
      <ion-col size="1">
        <div class="header-icon" routerLink="/notifications">
          <ion-icon name="notifications" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="text-center" lines="none">
    <ion-icon name="send"></ion-icon>
    <ion-text> تواصل معنا </ion-text>
    <ion-text>{{deviceID}}</ion-text>
  </ion-item>
  <h2>{{price}}</h2>

  <ion-item class="text-center" lines="none">
    <ion-text>
      هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو
      شكل
      توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما-
      للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد
      من
      برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال
      "lorem
      ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة
      من
      نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
    </ion-text>
  </ion-item>
  <ion-item class="text-center contact-icons" lines="none">
    <ion-text class="text-center">
      <ion-button fill="none" href="https://www.facebook.com/AlaunnaOfficial/">
        <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="none" href="alaunna.marketing@gmail.com">
        <ion-icon name="logo-googleplus" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- <ion-button fill="none">
        <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="none">
        <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-text>
  </ion-item>


</ion-content>