ion-button{
    background-color: #7d2468;
    color: #fff !important;
    text-align:right;
    height: 48px;
    width: 100%;
}
ion-icon{
    padding: 10px;
    font-size: 28px;
    
}
.icon{
    padding: 10px;
    font-size: 28px;
    background: #4444442b;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 6px #a2a4ab1f;
}
ion-label{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.text{
    color: #fff;
    margin-left: auto;
    color: #fff !important;
    font-size: 18px;
}
ion-list{
    margin-bottom: auto
}
