ion-grid{
    width: 100% !important;
}
form{
    display: contents;
}
.active{
    padding: 10px 5px 0 0px
}
.text{
    color: #fff;
    margin-left: auto;
    color: #fff !important;
    font-size: 18px;
}

.text-d{
    font-weight: 600;
    font-size: large;
}
ion-button{
    color: #fff !important;
    text-align:right;
    height: 48px
}
ion-icon{
    padding: 10px;
    font-size: 28px;
}
.save{
    margin-top: 20px;
}