<ion-header>
  <ion-toolbar color="grey">
    <ion-row>
      <ion-col size="1">
        <div class="header-icon">
          <!-- <ion-icon name="menu" color="primary"></ion-icon> -->
          <ion-menu-button name="menu" color="primary"></ion-menu-button>
        </div>
      </ion-col>
      <ion-col size="9">
        <!-- <ion-searchbar placeholder="البحث"></ion-searchbar> -->
      </ion-col>
      <ion-col size="2">
        <div class="header-icon" routerLink="/notifications">
          <ion-badge *ngIf="countNotification > 0">{{countNotification}}</ion-badge>
          <ion-icon name="notifications" color="primary"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<!-- List of Text Items -->
<ion-list>
  <ion-button routerLink="/new-customer" color="success">
    <ion-icon name="add"></ion-icon>

    اضافع عميل جديد</ion-button>
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>1</p>
  </ion-item>
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>2</p>
  </ion-item><ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>3</p>
  </ion-item><ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>4</p>
  </ion-item><ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>5</p>
  </ion-item><ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>6</p>
  </ion-item>
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>7</p>
  </ion-item>
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>8</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>9</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>10</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>11</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>12</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>13</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>14</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>15</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>16</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>17</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>18</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>19</p>
  </ion-item>  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label routerLink="/customer">بهاء عادل
      <ion-text color="secondary">
        <p>الاسكندريه</p>
      </ion-text>
    </ion-label>
    <p>20</p>
  </ion-item>
</ion-list>
