ion-button{
    color: #fff !important;
    text-align:right;
    height: 48px;
    width: 100%;

}
ion-icon{
    padding: 10px;
    font-size: 28px;
}

.text{
    color: #fff;
    margin-left: auto;
    color: #fff !important;
    font-size: 18px;
}