<!-- <ion-title color="primary">طلباتي</ion-title> -->
<ion-header>
  <ion-toolbar style="background-color: #7D2468;" color="#7d2468">
    <ion-row>
      <ion-col size="1">
        <div class="header-icon" style="display: table;
                margin-left: 52px;">
          <!-- <ion-icon name="menu" color="primary"></ion-icon> -->
          <ion-menu-button style="color: aliceblue !important;" name="menu"></ion-menu-button>
        </div>
      </ion-col>
      <ion-col size="9">
        <ion-title color="primary" style="color: #fff;">طلباتي</ion-title>

        <!-- <ion-searchbar placeholder="البحث"></ion-searchbar> -->
      </ion-col>
      <ion-col size="2">
        <div class="header-icon" routerLink="/notifications">
          <ion-badge *ngIf="countNotification > 0">{{countNotification}}</ion-badge>
          <ion-icon style="color: aliceblue !important;" name="notifications"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="myorders-page">
  <ion-card color="light">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-right">
            <ion-text style="display: block">
              يمكنك تلقي الطلبات هنا !
            </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-text-right">
            <ion-text style="display: block;margin-bottom: 18px;">
              كما يمكنك إنشاء طلبات لعملائك على الااونا أو عميل جديد
            </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-text-right">
            <ion-button class="button" (click)="onCreatePressed()" color="success">
              <ion-icon style=" padding: 10px;
              font-size: 28px;" name="add"></ion-icon>
              إنشاء طلب لعمیل
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- if no data this div will appear -->

  <!-- <div class="nodata">
    <img src="assets/img/Group 2769.png" alt="">
    <h5>لا يوجد لديك طلبات حتى الان</h5>
  </div> -->

  <!-- if no data this div will appear -->
  <!---->
  <ion-row>
    <ion-col class="order">
      <div>كل الطلبات</div>
    </ion-col>
    <ion-col>
      <div>
        <ion-list style="width: max-content;
          border-radius: 17px;
          height: 41px;
          margin-right: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto">
          <ion-item style="text-align: end;
            font-size: 20px;
            font-weight: 600">
            <ion-label>
              <ion-icon name="funnel"></ion-icon> فلتر
            </ion-label>
            <ion-select (ionChange)="filterData($event)" interface="popover">
              <ion-select-option value="allOrders">الكل</ion-select-option>

              <ion-select-option value="prepared">في الانتظار</ion-select-option>
              <ion-select-option value="pending">جديد</ion-select-option>

              <ion-select-option value="ready">جاهز</ion-select-option>
              <ion-select-option value="shipping">جاري التوصيل </ion-select-option>
              <ion-select-option value="accepted">مكتمل </ion-select-option>
              <ion-select-option value="canceld">ملغي</ion-select-option>
              <ion-select-option value="user_accept_return">مسترجع</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
  <!---->
  <ng-container *ngFor="let order of Orders">
    <ng-container *ngIf="order.owner">
      <ion-card color="light" (click)="orderdetails(order.id)">
        <ion-card-content class="ion-no-padding">

          <ion-grid>

            <ion-row>
              <ion-col size="12" class="ion-text-right">
                <ion-text style="display: block;" color="primary">
                  إسم العميل : <span *ngIf="order.owner"> {{ order.owner.name }}</span><span *ngIf="!order.owner"> عميل
                    غير معروف</span>
                </ion-text>
              </ion-col>

              <ion-col size="6" class="ion-text-right">
                <ion-text style="display: block;" color="primary" *ngIf="order.delivery_type == 'market'">
                  تاريخ الطلب : <span style="font-size: .8em;"> {{ order.sutiable_time | date: "dd-MM-yyyy , H:mm" }}
                  </span>
                </ion-text>
                <ion-text style="display: block;" color="primary" *ngIf="order.delivery_type == 'delivery'">
                  تاريخ الطلب : <span style="font-size: .8em;"> {{ order.sutiable_time | date: "dd-MM-yyyy , H:mm" }}
                  </span>
                </ion-text>
              </ion-col>
              <ion-col size="6" class="ion-text-left">
                <ion-text style="display: block;" color="primary">
                  <span *ngIf="order.status_status == 'ready'" style="color: #69bb7b;"> {{ OrderStatus.ready}}
                  </span>
                  <span *ngIf="order.status_status == 'pending'" style="color: brown;"> {{ OrderStatus.pending}} </span>
                  <span *ngIf="order.status_status == 'shipping'" style="color: #7D2468;"> {{ OrderStatus.shipping}}
                  </span>
                <span *ngIf="order.status_status == 'accepted'" style="color: #7D2468;"> {{ OrderStatus.accepted}}
                  </span>
                  <span *ngIf="order.status_status == 'user_canceld'" style="color: red;"> {{ OrderStatus.user_canceld}} </span>
                  <span *ngIf="order.status_status == 'canceld'" style="color: red;"> {{ OrderStatus.canceld}} </span>

                  <span *ngIf="order.status_status == 'prepared'" style="color: brown;"> {{ ProductStatus.prepared}}
                  </span>

                  <span *ngIf="order.status_status == 'not_exist'" style="color: brown;"> {{ ProductStatus.not_exist}}
                  </span>
                  <span *ngIf="order.status_status == 'seller_accepted_return'" style="color: red;">
                    {{ OrderStatus.seller_accepted_return}} </span>

                </ion-text>
              </ion-col>
              <!-- <ion-col size="6" class="ion-text-left" *ngIf="!order.fast">
                <ion-text style="display: block;" color="primary">
                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'accepted'"
                    style="color: #69bb7b;"> {{ OrderStatus.accepted}} </span>
                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'pending'"
                    style="color: brown;"> {{ OrderStatus.pending}} </span>
                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'shipping'"
                    style="color: #7D2468;"> {{ OrderStatus.shipping}} </span>
                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'canceld'"
                    style="color: red;"> {{ OrderStatus.canceld}} </span>

                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'prepared'"
                    style="color: brown;"> {{ ProductStatus.prepared}} </span>

                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'not_exist'"
                    style="color: brown;"> {{ ProductStatus.not_exist}} </span>
                  <span *ngIf="order.orderproducts[0] && order.orderproducts[0].status == 'user_canceld'"
                    style="color: red;"> {{ ProductStatus.user_canceld}} </span>

                </ion-text>
              </ion-col>
              <ion-col size="6" class="ion-text-left" *ngIf="order.fast">
                <ion-text style="display: block;" color="primary">
                  <span *ngIf="order.fast && order.fast.status == 'accepted'" style="color: #69bb7b;">
                    {{ OrderStatus.accepted}} </span>
                  <span *ngIf="order.fast && order.fast.status == 'canceld'" style="color: red;">
                    {{ OrderStatus.canceld}} </span>
                  <span *ngIf="order.fast && order.fast.status == 'user_canceld'" style="color: red;">
                    {{ OrderStatus.user_canceld}} </span>
                  <span *ngIf="order.fast && order.fast.status == 'pending'" style="color: brown;">
                    {{ OrderStatus.pending}} </span>
                  <span *ngIf="order.fast && order.fast.status == 'shipping'" style="color: #7D2468;">
                    {{ OrderStatus.shipping}} </span>
                </ion-text>
              </ion-col> -->

              <ion-col size="6" class="ion-text-right">
                <ion-text style="display: block;" color="primary">
                  رقم الطلب : <span> {{ order.id }} </span>
                </ion-text>
              </ion-col>

              <ion-col size="6" class="ion-text-left" *ngIf="!order.fast">
                <ion-text style="display: block;" color="primary">
                  قيمة المبلغ : <span> {{ order.sumOrder}} EGP</span>
                </ion-text>
              </ion-col>
              <ion-col size="6" class="ion-text-left" *ngIf="order.fast">
                <ion-text style="display: block;" color="primary">
                  قيمة المبلغ :
                  <span *ngIf="order.total_price>0"> {{ order.total_price}} EGP</span>
                  <span *ngIf="order.total_price==0"> لم يتحدد</span>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let order of market_carts">
    <ion-card color="light" (click)="orderdetails2(order.id)">
      <ion-card-content class="ion-no-padding">

        <ion-grid>

          <ion-row>
            <ion-col size="12" class="ion-text-right">
              <ion-text style="display: block;" color="primary">
                إسم العميل :
                <span *ngIf="order.user"> {{ order.user.name }}</span>
                <span *ngIf="order.customer"> {{ order.customer.name }}</span>
                <span *ngIf="!order.user&&!order.customer"> عميل
                  غير معروف</span>
              </ion-text>
            </ion-col>

            <ion-col size="6" class="ion-text-right">
              <ion-text style="display: block;" color="primary">
                تاريخ الطلب : <span style="font-size: .8em;"> {{ order.createdAt | date: "dd-MM-yyyy , H:mm" }}
                </span>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-text-left">
              <ion-text style="display: block;" color="primary">
                <span style="color: brown;"> في الإنتظار</span>
              </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-text style="display: block;" color="primary">
                رقم الطلب : <span> {{ order.id }} </span>
              </ion-text>
            </ion-col>

            <ion-col size="6" class="ion-text-left">
              <!-- <ion-text style="display: block;" color="primary">
                قيمة المبلغ : <span> {{ order.sumOrder}} EGP</span>
              </ion-text> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <br><br><br>
</ion-content>

<!---->
<ion-content style="margin-bottom: auto;" *ngIf="Orders == 0 && market_carts == 0">
  <ion-row style="margin: auto;
         display: block;
         text-align: center;" class="orders">
    <ion-col>
      <ion-icon style=" background: #80808047; padding: 10px;
        font-size: 28px;" name="menu"></ion-icon>
    </ion-col>
    <ion-col>
      <div>
        لا يوجد طلبات حتي الان ! </div>
    </ion-col>
    <ion-col>
      <div>
        عندما يطلب اشخاص منتجاتك ، سترى التفاصيل هنا .</div>
    </ion-col>
  </ion-row>
</ion-content>

<!---->