<ion-content color="light">
  <div class="login-logo">
    <img src="assets/img/Group 2823.png" alt="">
  </div>
  <br><br>
  <ion-text color="primary">
    <h6 class="text-center"> 
      تعديل الرقم السري
    </h6>
  </ion-text>
  <br><br>
  <div class="form-container">
    <form [formGroup]="RegisterForm" novalidate (submit)="onRegisterPressed()">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">الرقم السري</ion-label>
          <ion-input placeholder="xxxxxxxxx" type="password" name="password"
            formControlName="password" [(ngModel)]="RegisterationData.password" ></ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="RegisterForm.controls['password'].hasError('required') && RegisterForm.controls['password'].touched">
          *الرقم السري مطلوب!</div>

        <ion-item>
          <ion-label position="stacked"> تأكيد الرقم السري</ion-label>
          <ion-input placeholder="xxxxxxxxx" type="password" name="passwordConfirm" formControlName="passwordConfirm"
            [(ngModel)]="RegisterationData.passwordConfirm"></ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="RegisterForm.controls['passwordConfirm'].hasError('required') && RegisterForm.controls['passwordConfirm'].touched">
          تاكيد الرقم السري مطلوب*!</div>

        <ion-button expand="block" class="sign-btn" type="submit">
          <ion-icon color="light" name="arrow-dropleft-circle"></ion-icon>
          <ion-label color="light" class="ion-padding">تأكيد</ion-label>
        </ion-button>

        <h6 class="text-center"><a (click)="dismissModal()"> العودة لتسجيل الدخول </a></h6>
      </ion-list>
    </form>

  </div>

</ion-content>