.noti-item{
    width: 90%;
    margin: 10px 5% 0px 4px !important;
    border-radius: 15px;
    ion-text{
    	padding: 20px;
    }
    ion-badge{
    	color: #fff;
    }
}
ion-list{
    background-color: transparent;
}